@font-face {
    font-family: "InterItalic";
    src: url(../resources/fonts/ttf/Inter-Italic-VariableFont_opsz\,wght.ttf);
}

@font-face {
    font-family: "Inter";
    src: url(../resources/fonts/ttf/Inter-VariableFont_opsz\,wght.ttf);
}

@font-face {
    font-family: "RobotoItalic";
    src: url(../resources/fonts/ttf/RobotoMono-Italic-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Roboto";
    src: url(../resources/fonts/ttf/RobotoMono-VariableFont_wght.ttf);
}