*{
    padding: 0;
    margin: 0;
}

body::-webkit-scrollbar {
    width: 8px;               /* ширина scrollbar */
  }
  body::-webkit-scrollbar-track {
    background: rgb(44, 44, 44);        /* цвет дорожки */
  }
  body::-webkit-scrollbar-thumb {
    background-color: #ffffff;    /* цвет плашки */
    border-radius: 1px;       /* закругления плашки */
  }

body{
    font-family: "Inter";
    font-weight: 700;
    font-size: 28px;
    color: #fff;
}

.header-content{
    background-image: url(../resources/images/bg.png);
    background-size: cover;
    height: 1200px;
    padding-left: 50px;
    padding-right: 50px;
}

.header-content header{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-top: 20px;
}

header .logo{
    color: #fff;
    font-weight: 700;
    font-size: 30px;
}

header .logo span{
    color: #A1D76C;
    font-weight: 700;
    font-size: 30px;
}

header nav ul{
    display: flex;
    flex-direction: row;
    gap: 24px;
}

header nav ul li{
    list-style: none;
}

header nav ul li a{
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    font-family: "Inter";
    font-weight: 400;
    font-size: 18px;
    transition: all .3s;
}

header nav ul li a:hover{
    color: #A1D76C;
}

header .buttons{
    display: flex;
    flex-direction: row;
    gap: 14px;
}

header .buttons .login{
    background-color: #ffffff30;
    border-radius: 8px;
    border: none;
    padding: 12px 40px;
    color: #fff;
    font-family: "Inter";
    font-weight: 450;
    font-size: 16px;
    cursor: pointer;
}

header .buttons .search{
    background-color: #ffffff30;
    border-radius: 8px;
    border: none;
    padding: 10px 14px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
}

header .buttons button:hover{
    background-color: #aeaeae30;
    color: #aeaeae;
}

.header-content .slogan{
    font-family: "Inter";
    font-weight: 200;
    color: #fff;
    font-size: 80px;
    max-width: 1100px;
    margin-top: 140px;
    line-height: 80px;
}

.demo-card-block {
    margin-top: 200px;
    display: flex;
    flex-direction: row;
    gap: 44px;
    overflow-x: scroll;
    margin-left: -50px;
    padding-left: 50px;
    margin-right: -50px;
    padding-top: 20px;
    padding-bottom: 20px;
    scroll-snap-type: x mandatory;
}

.demo-card-block::-webkit-scrollbar {
    height: 8px;               /* ширина scrollbar */
  }
.demo-card-block::-webkit-scrollbar-track {
    background: rgb(44, 44, 44, 0);        /* цвет дорожки */
  }
.demo-card-block::-webkit-scrollbar-thumb {
    background-color: #ffffff50;    /* цвет плашки */
    border-radius: 9px;       /* закругления плашки */
    cursor: pointer;
    transition: all .3s;
  }

  .demo-card-block::-webkit-scrollbar-thumb:hover {
    background-color: #ffffff;    /* цвет плашки */
    border-radius: 9px;       /* закругления плашки */
  }

.demo-card{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 24px;
    border-radius: 40px;
    background-color: #ffffff;
    min-height: 350px;
    min-width: 300px;
    gap: 24px;
    transition: all 0.8s;
}

.demo-card:hover{
    scale: 1.025;
}

.demo-card .header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #aeaeae;
}

.demo-card .header .user{
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
}

.demo-card .header .user img{
    width: 50px;
    height: 50px;
    border-radius: 1000px;
    cursor: pointer;
}

.demo-card .header .user .info .name{
    color: #1b1b1b;
    font-family: "Inter";
    font-weight: 400px;
    font-size: 16px;
    line-height: 18px;
}

.demo-card .header .user .info .email{
    color: #868686;
    font-size: 14px;
    font-family: "Inter";
    font-weight: 400;
    line-height: 16px;
}

.demo-card .header #star{
    color: #ebb01b;
    font-size: 22px;
    cursor: pointer;
}

.demo-card hr{
    opacity: 0.3;
    background-color: #1b1b1b;
}

.demo-card .description{
    font-family: "Inter";
    font-size: 20px;
    font-weight: 400;
    color: #1b1b1b;
    line-height: 22px;
    width: 100%;
    opacity: 0.8;
    cursor: pointer;
    user-select: none;
}

.demo-card .footer{
    position: absolute;
    bottom: 24px;
    right: 24px;
}

.demo-card .footer .btn-more{
    padding: 12px 40px;
    background-color: #A1D76C;
    font-size: 16px;
    font-family: "Inter";
    font-weight: 400px;
    border-radius: 100px;
    text-decoration: none;
    color: #ffffff;
}


.rewiews-block {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 120vh;
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    transition: all 0.5s ease;
}

.rewiews-block.fullscreen {
    background: linear-gradient(45deg,#DBD2FB, #beb3e5);
    color: #fff; /* Новый цвет текста */
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    transition: all 0.5s ease;
}


.rewiews-block .title{
    z-index: -1;
    position: sticky;
    color: #DBD2FB;
    top: 50vh;
    width: 100%;
    justify-content: center;
    display: flex;
    font-size: 100px;
    font-weight: 600;
    transition: all .3s;
}

.rewiews-block.fullscreen .title{
    z-index: 0;
    position: sticky;
    color: #ffffff;
    top: 50vh;
    width: 100%;
    justify-content: end;
    display: flex;
    font-size: 75px;
    font-weight: 600;
}

.rewiew{
    z-index: 1;
    background-color: #ffffff;
    border-radius: 24px;
    backdrop-filter: blur(20px);
    max-width: 500px;
    max-height: auto;
    border: 1px solid #d0c4fb;
    box-shadow: 0px 0px 40px #d0c4fb40;
    color: #1b1b1b;
    padding: 24px;
    display: flex;
    flex-direction: row;
    gap: 14px;
    cursor: pointer;
    transition: all .3s;
    right: 0px;
}

.rewiew:hover{
    scale: 1.025;
    transform: translateX(1vw);
}


.rewiew:nth-child(even) {
    transform: translateX(3vw);
}

.rewiew:nth-child(even):hover{
    transform: translateX(4vw);
}

.rewiews-block .rewiew img {
    width: auto;
    height: 70px;
    border-radius: 1000px;
    object-fit: cover;
}

.rewiews-block .rewiew .content{
    display: flex;
    flex-direction: column;
    gap: 6px;
    justify-content: center;
}

.rewiews-block .rewiew .content .name{
    font-size: 15px;
    font-weight: 500;
    color: #1b1b1b80;
}

.rewiews-block .rewiew .content .text{
    color: #1b1b1b;
    opacity: 0.95;
    font-size: 17px;
    font-weight: 550;
    line-height: 17px;
    filter: blur(4px);
    transition: all .2s;
}

.rewiew .content .text:hover{
    filter: blur(0px);
}



.footer{
    height: 100vh;
}